.content {
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    padding-left: 0.5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding: 1rem;
    padding: 0;
}

.main-header {
    height: 2rem;
}

